@font-face {
  font-family: Redaction;
  src: url('../fonts/Redaction-Regular-copy.otf') format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

a {
  color: #ffffff80;
  text-underline-offset: 4px;
  text-decoration: none;
  text-decoration-thickness: 2px;
}

a:hover {
  color: #fff;
}

.heading {
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 190px;
  line-height: 170px;
}

.body {
  line-height: 30px;
}

.div-block {
  padding: 20px;
}

.section {
  height: 100vh;
  padding-top: 40px;
}

.navbar {
  background-color: #ddd0;
  width: 100vw;
  position: fixed;
}

.landing-page {
  background-color: #000;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: none;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.frame-41 {
  overflow: hidden;
}

.nav-links {
  grid-column-gap: 10.6976px;
  color: #fff;
  flex: 0 auto;
  justify-content: flex-end;
  align-items: flex-start;
  height: 40.3282px;
  font-size: 4vh;
  text-decoration: none;
  display: flex;
}

.nav-links:hover {
  color: #ffffff78;
}

.artists, .sounds, .programs, .catalogue {
  color: #fff;
  text-align: right;
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 33px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-42 {
  overflow: hidden;
}

.the-black-index {
  pointer-events: auto;
  color: #fff;
  letter-spacing: -.03em;
  cursor: not-allowed;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: clamp(230px, 5vw, 400px);
  font-weight: 400;
  line-height: 87.8%;
  text-decoration: none;
}

.the-artists-featured-in-the-black-indexdennis-delgado-alicia-henry-kenyatta-ac-hinkle-titus-kaphar-w {
  color: #fff;
  letter-spacing: -.01em;
  width: 60vw;
  margin-top: 0;
  margin-bottom: 0;
  font-family: undefined;
  font-size: 21px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-43 {
  overflow: hidden;
}

.whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card, .titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: undefined, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions {
  color: #fff;
  text-align: right;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: undefined, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.kenyatta-ac-hinkle-the-evanesced-the-untouchables-2020-100-ink-on-paper-drawings-9-x-12-each-courtes, .dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist, .lava-thomas-mugshot-portraits-women-of-the-montgomery-bus-boycott-alberta-j-james-2018-graphite-and {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: undefined, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-44 {
  overflow: hidden;
}

.frame-8 {
  background-color: #000;
}

.frame-7 {
  opacity: .16;
  background-color: #fff;
  border-radius: 500px;
  overflow: hidden;
}

.frame-6 {
  opacity: .19;
  background-color: #fff;
  overflow: hidden;
}

.frame-39 {
  grid-column-gap: 8px;
  background-color: #555;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 904px;
  height: 199px;
  padding: 57px 48px 48px;
  text-decoration: none;
  display: flex;
  position: relative;
}

.frame-38 {
  grid-row-gap: 10.2222px;
  border: 1.27778px solid #fff;
  border-radius: 638.889px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  padding: 38.3333px 49.8333px;
  text-decoration: none;
  display: flex;
  position: absolute;
  top: 20px;
  left: 17px;
}

.i {
  color: #fff;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.percussionist-and-composer-jovia-armstrong-created-the-soundscape-for-the-black-index-by-mixing-soun {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: undefined, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  position: absolute;
  top: 20.6188px;
  left: 62px;
}

.frame-37 {
  grid-row-gap: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 1356px;
  display: flex;
}

.frame-33 {
  grid-column-gap: 39px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-9 {
  grid-row-gap: 17px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 278px;
  height: 211px;
  text-decoration: none;
  display: flex;
}

.black-manicule-pointing-elsewhere {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 125%;
  text-decoration: none;
}

.frame-22 {
  overflow: hidden;
}

.frame-23 {
  box-sizing: border-box;
  grid-row-gap: 17px;
  aspect-ratio: auto;
  object-fit: fill;
  flex-direction: column;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 278px;
  height: auto;
  text-decoration: none;
  display: flex;
}

.frame-24 {
  grid-row-gap: 17px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 278px;
  height: 211px;
  text-decoration: none;
  display: flex;
}

.frame-34, .frame-35, .frame-36 {
  grid-column-gap: 39px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-46 {
  overflow: hidden;
}

.buy-catalogue-here {
  color: #fff;
  text-align: right;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-47 {
  overflow: hidden;
}

.bridget-r-cooks-is-exhibition-curator-and-associate-professor-department-of-african-american-studies {
  color: #fff;
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.the-artists-featured-in-the-black-indexdennis-delgado-alicia-henry-kenyatta-ac-hinkle-titus-kaphar-w-2 {
  color: #fff;
  letter-spacing: -.01em;
  flex: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .328125rem;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 2vh;
  font-weight: 400;
  line-height: 125%;
  text-decoration: none;
  display: block;
}

.the-artists-featured-in-the-black-indexdennis-delgado-alicia-henry-kenyatta-ac-hinkle-titus-kaphar-w-3 {
  color: #fff;
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .328125rem;
  font-family: Redaction, sans-serif;
  font-size: 21px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.the-artists-featured-in-the-black-indexdennis-delgado-alicia-henry-kenyatta-ac-hinkle-titus-kaphar-w-4 {
  color: #fff;
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card-2 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
  text-decoration: none;
  display: inline-block;
}

.whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card-2.caption {
  font-size: 15px;
}

.whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card-3 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card-4 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper-2 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
  text-decoration: none;
  display: inline-block;
}

.titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper-2.caption {
  font-size: 15px;
}

.titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper-3 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper-4 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-2 {
  color: #fff;
  text-align: right;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-3 {
  color: #fff;
  text-align: right;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-4 {
  color: #fff;
  text-align: right;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.kenyatta-ac-hinkle-the-evanesced-the-untouchables-2020-100-ink-on-paper-drawings-9-x-12-each-courtes-2 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 115%;
  text-decoration: none;
  display: inline-block;
}

.kenyatta-ac-hinkle-the-evanesced-the-untouchables-2020-100-ink-on-paper-drawings-9-x-12-each-courtes-3 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.kenyatta-ac-hinkle-the-evanesced-the-untouchables-2020-100-ink-on-paper-drawings-9-x-12-each-courtes-4 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-2 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-3 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-4 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.lava-thomas-mugshot-portraits-women-of-the-montgomery-bus-boycott-alberta-j-james-2018-graphite-and-2 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 115%;
  text-decoration: none;
  display: inline-block;
}

.lava-thomas-mugshot-portraits-women-of-the-montgomery-bus-boycott-alberta-j-james-2018-graphite-and-3 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.lava-thomas-mugshot-portraits-women-of-the-montgomery-bus-boycott-alberta-j-james-2018-graphite-and-4 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.sounds-2 {
  color: #fff;
  letter-spacing: -.06em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 207px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.percussionist-and-composer-jovia-armstrong-created-the-soundscape-for-the-black-index-by-mixing-soun-2 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 125%;
  text-decoration: none;
  display: inline-block;
}

.percussionist-and-composer-jovia-armstrong-created-the-soundscape-for-the-black-index-by-mixing-soun-3 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.percussionist-and-composer-jovia-armstrong-created-the-soundscape-for-the-black-index-by-mixing-soun-4 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.frame-22-2 {
  background-color: #303030;
  overflow: hidden;
}

.frame-22-3 {
  grid-row-gap: 17px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 278px;
  height: 211px;
  text-decoration: none;
  display: flex;
}

.buy-catalogue-here-2 {
  color: #fff;
  text-align: right;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .484375rem;
  font-family: Redaction, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.buy-catalogue-here-3 {
  color: #fff;
  text-align: right;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: underline;
  display: inline-block;
}

.bridget-r-cooks-is-exhibition-curator-and-associate-professor-department-of-african-american-studies-2 {
  color: #fff;
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .3125rem;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 115%;
  text-decoration: none;
  display: inline-block;
}

.bridget-r-cooks-is-exhibition-curator-and-associate-professor-department-of-african-american-studies-3 {
  color: #fff;
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .3125rem;
  font-family: Redaction, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: underline;
  display: inline-block;
}

.bridget-r-cooks-is-exhibition-curator-and-associate-professor-department-of-african-american-studies-4 {
  color: #fff;
  letter-spacing: -.01em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.frame-57 {
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: none;
  text-decoration: none;
  display: flex;
}

.frame-48 {
  grid-row-gap: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 934px;
  text-decoration: none;
  display: flex;
}

.frame-49 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  display: flex;
}

.frame-50 {
  grid-row-gap: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 438.869px;
  text-decoration: none;
  display: flex;
}

.frame-51 {
  grid-row-gap: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 1137.2px;
  padding-left: 60px;
  padding-right: 60px;
  text-decoration: none;
  display: flex;
}

.frame-56 {
  grid-column-gap: 70px;
  grid-row-gap: 70px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: none;
  text-decoration: none;
  display: flex;
}

.frame-52 {
  grid-row-gap: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 491.285px;
  text-decoration: none;
  display: flex;
}

.frame-53 {
  grid-column-gap: 8px;
  flex: 0 auto;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  text-decoration: none;
  display: flex;
}

.frame-54 {
  grid-row-gap: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 888px;
  text-decoration: none;
  display: flex;
}

.frame-55 {
  grid-row-gap: 25px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 958.75px;
  text-decoration: none;
  display: flex;
}

.frame-61 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 904px;
  margin-top: -69px;
  text-decoration: none;
  display: flex;
}

.frame-59 {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-58 {
  background-color: #818181;
  border-radius: 500px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  max-width: 752px;
  height: 30px;
  text-decoration: none;
  display: flex;
}

.frame-40 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  text-decoration: none;
  display: flex;
}

.frame-60 {
  grid-column-gap: 21px;
  grid-row-gap: 21px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  max-width: 857px;
  text-decoration: none;
  display: flex;
}

.frame-25, .frame-26, .frame-27, .frame-28, .frame-29, .frame-30, .frame-31, .frame-32 {
  grid-row-gap: 17px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 278px;
  height: 211px;
  text-decoration: none;
  display: flex;
}

.frame-62 {
  grid-row-gap: 33px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 766.53px;
  text-decoration: none;
  display: flex;
}

.frame-41-2 {
  grid-row-gap: 8px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 10vh;
  padding: 42px 45px 30px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.frame-42-2 {
  grid-column-gap: 80px;
  grid-row-gap: 80px;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: auto;
  min-height: 90vh;
  padding: 53px 45px;
  display: flex;
  overflow: hidden;
}

.frame-43-2 {
  grid-row-gap: 203px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding-bottom: 100px;
  padding-left: 0;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-5 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: undefined, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-6 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 115%;
  text-decoration: none;
  display: inline-block;
}

.alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-7 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-8 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-5 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: undefined, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-6 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 115%;
  text-decoration: none;
  display: inline-block;
}

.dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-7 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .28125rem;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-8 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.frame-44-2 {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 140px 268px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.frame-8-2 {
  grid-column-gap: 7px;
  grid-row-gap: 8px;
  background-color: #575757;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 25px 20px;
  text-decoration: none;
  display: flex;
}

.frame-39-2 {
  grid-column-gap: 22px;
  background-color: #575757;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 20px 30px;
  text-decoration: none;
  display: flex;
}

.frame-38-2 {
  grid-row-gap: 10.2222px;
  border: 1.5px solid #fff;
  border-radius: 638.889px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 10px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
}

.percussionist-and-composer-jovia-armstrong-created-the-soundscape-for-the-black-index-by-mixing-soun-5 {
  color: #fff;
  letter-spacing: -.02em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: undefined, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.frame-37-2 {
  grid-row-gap: 45px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-bottom: 140px;
  padding-top: 140px;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
}

.frame-33-2 {
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  flex-wrap: wrap;
  grid-template: ". Area"
                 ". ."
                 / 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-self: center;
  place-items: center stretch;
  width: 100%;
  max-width: none;
  text-decoration: none;
  display: grid;
}

.frame-33-3, .frame-34-2, .frame-35-2, .frame-36-2 {
  grid-row-gap: 17px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  max-width: 278px;
  height: 211px;
  text-decoration: none;
  display: flex;
}

.frame-46-2 {
  grid-column-gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 145px 336px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.buy-catalogue-here-4 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
}

.buy-catalogue-here-5 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: .484375rem;
  font-family: Redaction, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: none;
  display: inline-block;
}

.buy-catalogue-here-6 {
  color: #fff;
  letter-spacing: -.02em;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Redaction, sans-serif;
  font-size: 31px;
  font-weight: 400;
  line-height: 100%;
  text-decoration: underline;
  display: inline-block;
}

.frame-47-2 {
  grid-column-gap: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 55px 63px;
  text-decoration: none;
  display: flex;
  overflow: hidden;
}

.youtube {
  max-width: 200px;
  height: auto;
  overflow: visible;
}

.div-block-2 {
  flex-flow: column;
  align-items: flex-end;
  padding-bottom: 20px;
  display: flex;
}

.video {
  width: 100%;
}

.tabs {
  position: relative;
}

.tabs-menu {
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
  display: flex;
}

.text-block {
  color: #fff;
  letter-spacing: -.02em;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 50px;
}

.text-block-2 {
  color: #fff;
  letter-spacing: -.02em;
  -webkit-text-stroke-color: #fff;
  font-family: Redaction, Times New Roman, sans-serif;
  font-size: 50px;
}

.tab-link-tab-2 {
  background-color: #c8c8c8;
}

.tab-link-tab-2.w--current {
  background-color: #0000;
  padding-left: 10px;
}

.tab-link-tab-1 {
  background-color: #0000;
  padding-right: 0;
}

.code-embed {
  width: 100%;
}

.div-block-4 {
  pointer-events: none;
  width: 40vw;
}

.link, .link-2, .link-3 {
  color: #fff;
}

.image {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card {
    padding-left: 40px;
    padding-right: 40px;
  }

  .black-manicule-pointing-elsewhere {
    font-size: 18px;
    line-height: 125%;
  }

  .frame-23 {
    grid-row-gap: 20px;
    max-width: none;
  }

  .the-artists-featured-in-the-black-indexdennis-delgado-alicia-henry-kenyatta-ac-hinkle-titus-kaphar-w-2 {
    font-size: 2.5vw;
    line-height: 125%;
  }

  .whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card-2 {
    line-height: 110%;
  }

  .whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card-2.caption {
    line-height: 125%;
  }

  .titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper-2 {
    line-height: 110%;
  }

  .titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper-2.caption, .kenyatta-ac-hinkle-the-evanesced-the-untouchables-2020-100-ink-on-paper-drawings-9-x-12-each-courtes-2, .lava-thomas-mugshot-portraits-women-of-the-montgomery-bus-boycott-alberta-j-james-2018-graphite-and-2 {
    line-height: 125%;
  }

  .percussionist-and-composer-jovia-armstrong-created-the-soundscape-for-the-black-index-by-mixing-soun-2, .bridget-r-cooks-is-exhibition-curator-and-associate-professor-department-of-african-american-studies-2 {
    font-size: 16px;
    line-height: 125%;
  }

  .frame-57, .frame-56 {
    flex-flow: column;
  }

  .frame-55 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .frame-61 {
    max-width: 100%;
    margin-top: -65px;
  }

  .frame-42-2 {
    grid-column-gap: 80px;
    grid-row-gap: 80px;
    flex-flow: column;
    justify-content: space-between;
    align-items: flex-end;
    height: auto;
    margin-top: 100px;
  }

  .alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-6, .dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-6 {
    line-height: 125%;
  }

  .frame-44-2 {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 140px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .frame-37-2 {
    height: auto;
  }

  .frame-33-2 {
    grid-column-gap: 35px;
    grid-row-gap: 35px;
    grid-template-columns: 1fr 1fr;
    align-content: flex-start;
    max-width: none;
  }

  .frame-46-2 {
    padding-left: 60px;
    padding-right: 60px;
  }

  .div-block-3 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .div-block-4 {
    width: 100%;
  }

  .image {
    width: 80%;
  }
}

@media screen and (max-width: 767px) {
  .nav-links {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    flex-flow: column;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-end;
    align-items: flex-end;
    height: auto;
    font-size: 2.5vh;
    line-height: 25px;
    display: flex;
  }

  .artists.links {
    font-size: 29px;
  }

  .the-black-index {
    font-size: clamp(180px, 1vw, 300px);
  }

  .black-manicule-pointing-elsewhere {
    font-size: 22px;
  }

  .frame-23 {
    grid-column-gap: 16px;
    grid-row-gap: 17px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    max-width: 100%;
    display: flex;
  }

  .the-artists-featured-in-the-black-indexdennis-delgado-alicia-henry-kenyatta-ac-hinkle-titus-kaphar-w-2 {
    font-size: 18px;
    line-height: 125%;
  }

  .whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card-2.caption, .titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper-2.caption, .kenyatta-ac-hinkle-the-evanesced-the-untouchables-2020-100-ink-on-paper-drawings-9-x-12-each-courtes-2, .lava-thomas-mugshot-portraits-women-of-the-montgomery-bus-boycott-alberta-j-james-2018-graphite-and-2, .bridget-r-cooks-is-exhibition-curator-and-associate-professor-department-of-african-american-studies-2 {
    line-height: 125%;
  }

  .frame-41-2 {
    justify-content: center;
    align-items: flex-end;
    height: auto;
    padding: 30px 40px 40px;
  }

  .frame-42-2 {
    grid-column-gap: 55px;
    grid-row-gap: 55px;
    justify-content: flex-end;
    align-items: center;
    margin-top: 60px;
  }

  .alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-6, .dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-6 {
    line-height: 125%;
  }

  .frame-33-2 {
    grid-column-gap: 65px;
    grid-row-gap: 65px;
    flex-flow: column;
    grid-template-rows: auto auto auto auto auto auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    justify-content: center;
    display: flex;
  }

  .div-block-4 {
    width: 100%;
  }

  .link.nav-links {
    font-size: 2.5vh;
  }

  .image {
    width: 80%;
  }
}

@media screen and (max-width: 479px) {
  a {
    color: #ffffff75;
    text-decoration: none;
  }

  .nav-links {
    grid-column-gap: 5px;
    grid-row-gap: 0px;
    color: #fff;
    flex-flow: column;
    font-size: 2vh;
    line-height: 26px;
  }

  .artists, .sounds, .programs, .catalogue {
    font-size: 16px;
  }

  .the-black-index {
    width: 100%;
    font-size: 120px;
    position: relative;
  }

  .i {
    font-size: 12px;
  }

  .black-manicule-pointing-elsewhere {
    font-size: 18px;
  }

  .frame-23 {
    grid-row-gap: 20px;
    flex-flow: column;
    align-self: stretch;
    max-width: none;
  }

  .the-artists-featured-in-the-black-indexdennis-delgado-alicia-henry-kenyatta-ac-hinkle-titus-kaphar-w-2 {
    font-size: 2vh;
    line-height: 125%;
  }

  .whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card-2 {
    font-size: 14px;
    line-height: 115%;
  }

  .whitfield-lovell-the-card-series-2018-2020-charcoal-pencil-on-paper-with-attached-playing-card-2.caption {
    font-size: 14px;
  }

  .titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper-2 {
    font-size: 14px;
    line-height: 115%;
  }

  .titus-kaphar-and-reginald-dwayne-betts-redaction-in-missouri-2020-etching-and-silkscreen-on-paper-2.caption {
    font-size: 14px;
  }

  .kenyatta-ac-hinkle-the-evanesced-the-untouchables-2020-100-ink-on-paper-drawings-9-x-12-each-courtes-2, .lava-thomas-mugshot-portraits-women-of-the-montgomery-bus-boycott-alberta-j-james-2018-graphite-and-2 {
    font-size: 14px;
    line-height: 115%;
  }

  .sounds-2 {
    font-size: 123px;
  }

  .percussionist-and-composer-jovia-armstrong-created-the-soundscape-for-the-black-index-by-mixing-soun-2 {
    font-size: 14px;
    line-height: 125%;
  }

  .bridget-r-cooks-is-exhibition-curator-and-associate-professor-department-of-african-american-studies-2 {
    letter-spacing: -.02em;
    font-size: 14px;
    line-height: 125%;
  }

  .frame-51, .frame-55 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .frame-60 {
    grid-column-gap: 13px;
    grid-row-gap: 13px;
    flex-flow: column;
  }

  .frame-41-2 {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .frame-42-2 {
    grid-column-gap: 45px;
    grid-row-gap: 45px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-5 {
    line-height: 106%;
  }

  .alicia-henry-analogous-iii-2020-acrylic-thread-yarn-dyed-leather-variable-dimensions-6, .dennis-delgado-black-panther-2020-tagged-image-photo-file-86-x-143-courtesy-of-the-artist-6 {
    font-size: 14px;
    line-height: 115%;
  }

  .frame-44-2, .frame-8-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .frame-39-2 {
    padding-top: 0;
  }

  .frame-38-2 {
    width: 20px;
    height: 20px;
    padding: 5px;
  }

  .frame-37-2 {
    justify-content: flex-start;
    align-self: center;
    align-items: center;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .frame-33-2 {
    grid-column-gap: 60px;
    grid-row-gap: 60px;
    flex-flow: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    place-items: stretch center;
    display: flex;
  }

  .frame-46-2 {
    padding: 40px 20px 60px;
  }

  .frame-47-2 {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .div-block-3 {
    font-size: 14px;
  }

  .div-block-4 {
    width: 100%;
  }

  .link.nav-links {
    color: #fff;
    font-size: 2vh;
  }

  .image {
    width: 80%;
  }
}

#w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b815-4ffec95a {
  align-self: start;
}

#w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b819-4ffec95a {
  grid-area: span 1 / span 1 / span 1 / span 1;
  align-self: start;
}

#w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b81d-4ffec95a, #w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b821-4ffec95a, #w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b825-4ffec95a, #w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b829-4ffec95a, #w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b82d-4ffec95a, #w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b831-4ffec95a, #w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b835-4ffec95a, #w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b839-4ffec95a, #w-node-_9082772b-95df-a123-612f-cd82304047ba-4ffec95a, #w-node-_1429dd90-96fb-1756-392e-b8eff96e2d01-4ffec95a, #w-node-d2ded54f-113e-a690-65d1-e189684272ab-4ffec95a, #w-node-_7a3efc61-9ea3-f01d-b95a-9d5a62680d15-4ffec95a {
  align-self: start;
}

@media screen and (max-width: 767px) {
  #w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b815-4ffec95a {
    justify-self: stretch;
  }
}

@media screen and (max-width: 479px) {
  #w-node-_2a769248-e747-8cf0-4d52-19f9e1d9b815-4ffec95a {
    justify-self: auto;
  }
}


@font-face {
  font-family: 'Redaction';
  src: url('../fonts/Redaction-Regular-copy.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}